<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>${COLIMA_PERMISSIONS_PLIST_NAME}</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>-c</string>
        <string>[ -S &quot;${COLIMA_HOME}/.colima/default/docker.sock&quot; ] &amp;&amp; chgrp ${COLIMA_GROUP} &quot;${COLIMA_HOME}/.colima/default/docker.sock&quot; &amp;&amp; chmod 660 &quot;${COLIMA_HOME}/.colima/default/docker.sock&quot;</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>${COLIMA_HOME}/.colima/default</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>${COLIMA_PERMISSIONS_LOG_OUT}</string>
    <key>StandardErrorPath</key>
    <string>${COLIMA_PERMISSIONS_LOG_ERR}</string>
</dict>
</plist>
