<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>${COLIMA_PERMISSIONS_PLIST_NAME}</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>-c</string>
        <string>echo &quot;$(date '+%Y-%m-%d %H:%M:%S') Checking socket...&quot;; if [ -S &quot;${COLIMA_HOME}/.colima/default/docker.sock&quot; ]; then chgrp ${COLIMA_GROUP} &quot;${COLIMA_HOME}/.colima/default/docker.sock&quot; &amp;&amp; echo &quot;$(date '+%Y-%m-%d %H:%M:%S') Set group to ${COLIMA_GROUP}&quot; &amp;&amp; chmod 660 &quot;${COLIMA_HOME}/.colima/default/docker.sock&quot; &amp;&amp; echo &quot;$(date '+%Y-%m-%d %H:%M:%S') Set permissions to 660&quot; &amp;&amp; ln -sf &quot;${COLIMA_HOME}/.colima/default/docker.sock&quot; &quot;${DOCKER_SOCK}&quot; &amp;&amp; echo &quot;$(date '+%Y-%m-%d %H:%M:%S') Created symlink: ${DOCKER_SOCK}&quot;; else echo &quot;$(date '+%Y-%m-%d %H:%M:%S') Socket not found&quot; &gt;&amp;2; fi</string>
    </array>
    <key>QueueDirectories</key>
    <array>
        <string>${COLIMA_HOME}/.colima/default</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>${COLIMA_PERMISSIONS_LOG_OUT}</string>
    <key>StandardErrorPath</key>
    <string>${COLIMA_PERMISSIONS_LOG_ERR}</string>
</dict>
</plist>
